.header {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-textlogo {
    width: 120px;
    border: 2px solid #0097B2;
    border-radius: 5px;
    padding: 8px;
}
.header-burger-icon {
    width:46px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #0097B2;
    padding: 0 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.navbar a {
    color: #9adcff;
    font-size: 16px;
    text-decoration: none;
    padding: 5px 20px;
    margin-left: 10px;
    border-radius: 20px;
    transition: background-color 0.2s;
    background-color: #0097B2;
    border: 2px solid transparent;
    box-sizing: border-box;
    animation: rainbow 5s infinite linear;
}

.navbar a:hover {
    background-color: #00697c;
}

.logo-row {
    display:flex;
    justify-content: space-between;
    width: 100%;
}

.link-column {
    background-color: #0097B2;
}

@media (max-width: 1200px) {
    .header {
        padding: 15px 20px;
    }

    .logo-container {
        width: 100%;
        justify-content: space-between;
    }

    .menu-toggle {
        display: none;
        background: none;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }

    .menu-toggle {
        display: block;
    }

    .menu {
        flex-direction: column;
        gap: 16px;
        width: 100%;
        background-color: #0097B2;
        display: none;
        padding: 16px 0;
    }

    .menu.open {
        display: flex;
    }

    .btn-a-standard:hover {
        background-color: #00697c;
    }

    .menu-toggle:hover {
        background-color: #0097B2;
    }
}








