.container-fluid {
    width: 100%;
}

.card-title {
    margin-top: 20px;
}

.card-body {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-area {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}